@model Database.Framework.MailModel
@{
    ViewBag.Title = "Quên mật khẩu";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/style.css">
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <section class="ftco-section">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-lg-5">
                        <div class="login-wrap p-4 p-md-5">
                            <h2 class="heading-section" style="text-align:center">Lấy mật khẩu từ email</h2>
                            <form action="#" class="login-form">
                                <h3>Email</h3>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.To, new { @class = "form-control rounded-left" })
                                </div>
                                <div>
                                    @ViewBag.ThongBao
                                </div>
                            </form>
                            <a href="/Admin/Login/Login">Quay về trang đăng nhập</a>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary rounded submit p-3 px-5">Gửi</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    }
</body>
</html>
