@model Database.Framework.Message
@{
    ViewBag.Title = "Tin nhắn";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h4>Gửi đến admin</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Giảng viên gửi: @Html.DisplayFor(model => model.GIAOVIEN.HoTenGV)
        </dt>

        <dt>
            Nội dung:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            Ngày gửi: @Html.DisplayFor(model => model.NgayGui)
        </dt>
    </dl>
</div>
<p>
    @Html.ActionLink("Quay lại", "Index")
</p>