@model Database.Framework.Khoa

@{
    ViewBag.Title = "Xóa học phần";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>Xóa khoa này?</h3>
<div>
    <h4>Khoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên môn học
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc1.TenMH)
        </dd>

        <dt>
            Tên khoa
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenKhoa)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>
